<h3>Por Capital</h3>

<hr/>

<div class="row">
    <div class="col">
        
        <app-paises-input
        (onEnter)="buscar( $event )"
        placeholder="Buscar Capital..."
        (onDebounce)="sugerencias( $event )"> <!-- cuando se recibe el evento onEnter al recibir un termino se va a ejecutar el metodo buscar de este componente -->



        </app-paises-input>

    </div>
</div>

<hr>

<div *ngIf="hayError" 
    class="alert alert-danger">
    No se encontró nada con el término {{ termino }}

</div>

<div class="row">

    <div class="row">

        <app-paises-tabla [paises]="paises"></app-paises-tabla>

    </div>

</div>