<table  *ngIf="paises.length > 0"
    class="table table-hover">
<thead>
    <tr>
        <th>#</th>
        <th> Bandera </th>
        <th> Nombre </th>
        <th> Población </th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let item of paises, let i = index"
        class="animate__animated animate__fadeIn animate__faster">
        <td> {{ i+1 }} </td>
        <td>
            <img class="small-flag"
                 [src]='item.flags.svg' 
                 alt="Bandera">
        </td>
        <td>{{ item.capital }} - {{ item.name.common }}</td>
        <td> {{ item.population | number }} </td>
        <td>
            <a [routerLink]="['/pais', item.cca2]" >Ver...</a>
        </td>
    </tr>
</tbody>
</table>
