

<div class="text-layout">
    <h1>Decimal Pipe y Porcentaje</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module. 
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="Ventas Netas del Presente Año">
            
            <li>
                <i class="pi pi-dollar"></i>
                {{ ventasNetas | number: '1.2-2' }}
            </li>
            <li>
                <i class="pi pi-dollar"></i>
                 {{ ventasNetas | number: '1.2-2': 'en' }}
            </li>
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas"
                subheader="Del presente año">
                {{ (ventasNetas + 20000000) | currency: 'USD ':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancia %"
                subheader="Del presente año">
                {{ porcentaje | percent:'1.2-2' }}
        </p-card>
    </div>

</div>