
<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module. 
    </p>
</div>

<div class="grid">

    <div class="col-4">
        <p-card header="Uppercase"
                [subheader]="nombreLower">
            {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Lowercase"
                [subheader]="nombreLower | lowercase">
            {{ nombreLower | lowercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Titlecase"
                [subheader]="nombreCompleto | titlecase">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>

</div>

<hr>

<div class="text-layout">
    <h1>Date | Fecha |Pipe</h1>
    <p>
        Pipes para mostrar las fechas 
    </p>
</div>

<div class="grid">
    <div class="col-6">

        <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha | date</li>
                <li>Fecha | date:'short'</li>
                <li>Fecha | date:'long'</li>
                <li>Fecha | date:'dd/MM/yy hh:m:ss a'</li>
                <li>Fecha | date:'MMMM dd/yy'</li>
            </ul>

            <hr>

            <ul>
                <li>Fecha | date:'long'</li>
                <li>fecha | date:'long':'GMT-5'</li>
                <li>fecha | date:'long':'':'en'</li>
            </ul>
            
        </p-card>

    </div>
    <div class="col-6">

        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date:'short' }}</li>
                <li>{{ fecha | date:'long' }}</li>
                <li>{{ fecha | date:'dd/MM/yy hh:m:ss a' }}</li>
                <li>{{ fecha | date:'MMMM dd/yy' }}</li>
            </ul>

            <hr>

            <ul>
                <li>{{ fecha | date:'long':'GMT-6' }}</li>
                <li>{{ fecha | date:'long':'GMT-5' }}</li>
                <li>{{ fecha | date:'long':'':'en' }}</li>
            </ul>
        </p-card>

    </div>
</div>