<h3>Por País</h3>

<hr/>

<div class="row">
    <div class="col">
        
        <app-paises-input
        (onEnter)="buscar( $event )"
        placeholder="Buscar pais..."
        (onDebounce)="sugerencias( $event )"> <!-- cuando se recibe el evento onEnter al recibir un termino se va a ejecutar el metodo buscar de este componente -->



        </app-paises-input>

    </div>
</div>

    <ul *ngIf="hideSugerencia"
        class="list-group">
        <li *ngFor="let sugerencia of paisSugerido"
            class="list-group-item list-group-item-action">
            <a  class="nav-link"
                [routerLink]="['/pais', sugerencia.cca2]">
                {{ sugerencia.name.common }}
            </a>
        </li>
        <li class="list-group-item list-group-item-action"
            (click)="buscar( termino )">
            <a class="nav-link">
                Buscar "{{ termino }}"
            </a>
        </li>
    </ul>

<hr>

<div *ngIf="hayError" 
    class="alert alert-danger">
    No se encontró nada con el término {{ termino }}

</div>

<div class="row">

    <div class="row">

        <app-paises-tabla [paises]="paises"></app-paises-tabla>

    </div>

</div>