html,body {
    margin: 10px;
    background-color: var( --surface-b );
     font-family: var( --font-family ); /* Variable global ubicada en el root, se encuentra en node_module/primeNG/resourches/themes/vela-blue (Ahi estan todas las variables) */
}

.text-layout {

    color: var( --text-color );

}